<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="conexion" connectionString="Data Source=DESKTOP-MV85JFF;Initial Catalog=VivetwinsDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CapaPresentacion.Properties.Settings.VivetwinsDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VivetwinsDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="CapaPresentacion.Properties.Settings.VivetwinsDBConnectionString1"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VivetwinsDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="Microsoft.Data.SqlClient" />
  <add name="CapaPresentacion.Properties.Settings.VivetwinsDBConnectionString2"
   connectionString="Data Source=DESKTOP-MV85JFF;Initial Catalog=VivetwinsDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>